Amazon Apparel Recommendations

[4.2] Data and Code:
(https://drive.google.com/open?id=0BwNkduBnePt2VWhCYXhMV3p4dTg)

[4.3] Overview of the data

In [1]:
from PIL import Image
import requests
from io import BytesIO
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
import math
import time
import re
import os
#import seaborn as sns
from collections import Counter
'''from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity  
from sklearn.metrics import pairwise_distances'''
from matplotlib import gridspec
from scipy.sparse import hstack
import plotly
import plotly.figure_factory as ff
#from plotly.graph_objs import Scatter, Layout

plotly.offline.init_notebook_mode(connected=True)
warnings.filterwarnings("ignore")

<script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script><script type="text/javascript">if (window.MathJax) {MathJax.Hub.Config({SVG: {font: "STIX-Web"}});}</script><script>requirejs.config({paths: { 'plotly': ['https://cdn.plot.ly/plotly-latest.min']},});if(!window._Plotly) {require(['plotly'],function(plotly) {window._Plotly=plotly;});}</script>

In [2]:
# we have give a json file which consists of all information about
# the products
# loading the data using pandas' read_json file.
'''import os
print(os.getcwd())'''
#the above code is to check which directory i am in
data = pd.read_json(open('/Users\DELL\PythonProjects\RECOMENDATION_ENGINE/tops_fashion.json', "r", encoding="utf8"))

In [3]:
print ('Number of data points : ', data.shape[0])
print ('Number of features/variables:', data.shape[1])

Number of data points :  183138
Number of features/variables: 19

### Terminology:
What is a dataset? <br>
Rows and columns <br>
Data-point <br>
Feature/variable <br>

In [4]:
# each product/item has 19 features in the raw dataset.
data.columns # prints column-names or feature-names.

Index(['asin', 'author', 'availability', 'availability_type', 'brand', 'color',
       'editorial_reivew', 'editorial_review', 'formatted_price',
       'large_image_url', 'manufacturer', 'medium_image_url', 'model',
       'product_type_name', 'publisher', 'reviews', 'sku', 'small_image_url',
       'title'],
      dtype='object')

In [5]:
data = data[['asin', 'brand', 'color', 'medium_image_url', 'product_type_name', 'title', 'formatted_price']]

In [6]:
print ('Number of data points : ', data.shape[0], \
       'Number of features:', data.shape[1])
data.head() # prints the top rows in the table.

Number of data points :  183138 Number of features: 7

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>asin</th>
      <th>brand</th>
      <th>color</th>
      <th>medium_image_url</th>
      <th>product_type_name</th>
      <th>title</th>
      <th>formatted_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>B016I2TS4W</td>
      <td>FNC7C</td>
      <td>None</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Minions Como Superheroes Ironman Long Sleeve R...</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>B01N49AI08</td>
      <td>FIG Clothing</td>
      <td>None</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>FIG Clothing Womens Izo Tunic</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B01JDPCOHO</td>
      <td>FIG Clothing</td>
      <td>None</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>FIG Clothing Womens Won Top</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>B01N19U5H5</td>
      <td>Focal18</td>
      <td>None</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Focal18 Sailor Collar Bubble Sleeve Blouse Shi...</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>B004GSI2OS</td>
      <td>FeatherLite</td>
      <td>Onyx Black/ Stone</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Featherlite Ladies' Long Sleeve Stain Resistan...</td>
      <td>$26.26</td>
    </tr>
  </tbody>
</table>
</div>

### [5.1] Missing data for various features.

####  Basic stats for the feature: product_type_name

In [7]:
# We have total 72 unique type of product_type_names
print(data['product_type_name'].describe())

# 91.62% (167794/183138) of the products are shirts,

count     183138
unique        72
top        SHIRT
freq      167794
Name: product_type_name, dtype: object

In [8]:
# names of different product types
print(data['product_type_name'].unique())

['SHIRT' 'SWEATER' 'APPAREL' 'OUTDOOR_RECREATION_PRODUCT'
 'BOOKS_1973_AND_LATER' 'PANTS' 'HAT' 'SPORTING_GOODS' 'DRESS' 'UNDERWEAR'
 'SKIRT' 'OUTERWEAR' 'BRA' 'ACCESSORY' 'ART_SUPPLIES' 'SLEEPWEAR'
 'ORCA_SHIRT' 'HANDBAG' 'PET_SUPPLIES' 'SHOES' 'KITCHEN' 'ADULT_COSTUME'
 'HOME_BED_AND_BATH' 'MISC_OTHER' 'BLAZER' 'HEALTH_PERSONAL_CARE'
 'TOYS_AND_GAMES' 'SWIMWEAR' 'CONSUMER_ELECTRONICS' 'SHORTS' 'HOME'
 'AUTO_PART' 'OFFICE_PRODUCTS' 'ETHNIC_WEAR' 'BEAUTY'
 'INSTRUMENT_PARTS_AND_ACCESSORIES' 'POWERSPORTS_PROTECTIVE_GEAR' 'SHIRTS'
 'ABIS_APPAREL' 'AUTO_ACCESSORY' 'NONAPPARELMISC' 'TOOLS' 'BABY_PRODUCT'
 'SOCKSHOSIERY' 'POWERSPORTS_RIDING_SHIRT' 'EYEWEAR' 'SUIT'
 'OUTDOOR_LIVING' 'POWERSPORTS_RIDING_JACKET' 'HARDWARE' 'SAFETY_SUPPLY'
 'ABIS_DVD' 'VIDEO_DVD' 'GOLF_CLUB' 'MUSIC_POPULAR_VINYL'
 'HOME_FURNITURE_AND_DECOR' 'TABLET_COMPUTER' 'GUILD_ACCESSORIES'
 'ABIS_SPORTS' 'ART_AND_CRAFT_SUPPLY' 'BAG' 'MECHANICAL_COMPONENTS'
 'SOUND_AND_RECORDING_EQUIPMENT' 'COMPUTER_COMPONENT' 'JEWELRY'
 'BUILDING_MATERIAL' 'LUGGAGE' 'BABY_COSTUME' 'POWERSPORTS_VEHICLE_PART'
 'PROFESSIONAL_HEALTHCARE' 'SEEDS_AND_PLANTS' 'WIRELESS_ACCESSORY']

In [9]:
# find the 10 most frequent product_type_names.
product_type_count = Counter(list(data['product_type_name']))
product_type_count.most_common(10)

[('SHIRT', 167794),
 ('APPAREL', 3549),
 ('BOOKS_1973_AND_LATER', 3336),
 ('DRESS', 1584),
 ('SPORTING_GOODS', 1281),
 ('SWEATER', 837),
 ('OUTERWEAR', 796),
 ('OUTDOOR_RECREATION_PRODUCT', 729),
 ('ACCESSORY', 636),
 ('UNDERWEAR', 425)]

In [10]:
####  Basic stats for the feature: brand

In [11]:
# there are 10577 unique brands
print(data['brand'].describe())

# 183138 - 182987 = 151 missing values.

count     182987
unique     10577
top         Zago
freq         223
Name: brand, dtype: object

In [12]:
brand_count = Counter(list(data['brand']))
brand_count.most_common(10)

[('Zago', 223),
 ('XQS', 222),
 ('Yayun', 215),
 ('YUNY', 198),
 ('XiaoTianXin-women clothes', 193),
 ('Generic', 192),
 ('Boohoo', 190),
 ('Alion', 188),
 ('Abetteric', 187),
 ('TheMogan', 187)]

####  Basic stats for the feature: color

In [13]:
print(data['color'].describe())


# we have 7380 unique colors
# 7.2% of products are black in color
# 64956 of 183138 products have brand information. That's approx 35.4%.

count     64956
unique     7380
top       Black
freq      13207
Name: color, dtype: object

In [14]:
color_count = Counter(list(data['color']))
color_count.most_common(10)

[(None, 118182),
 ('Black', 13207),
 ('White', 8616),
 ('Blue', 3570),
 ('Red', 2289),
 ('Pink', 1842),
 ('Grey', 1499),
 ('*', 1388),
 ('Green', 1258),
 ('Multi', 1203)]

####  Basic stats for the feature: formatted_price

In [15]:
print(data['formatted_price'].describe())

# Only 28,395 (15.5% of whole data) products with price information

count      28395
unique      3135
top       $19.99
freq         945
Name: formatted_price, dtype: object

In [16]:
price_count = Counter(list(data['formatted_price']))
price_count.most_common(10)

[(None, 154743),
 ('$19.99', 945),
 ('$9.99', 749),
 ('$9.50', 601),
 ('$14.99', 472),
 ('$7.50', 463),
 ('$24.99', 414),
 ('$29.99', 370),
 ('$8.99', 343),
 ('$9.01', 336)]

#### Basic stats for the feature: title

In [17]:
print(data['title'].describe())

# All of the products have a title. 
# Titles are fairly descriptive of what the product is. 
# We use titles extensively in this workshop 
# as they are short and informative.

count                                                183138
unique                                               175985
top       Nakoda Cotton Self Print Straight Kurti For Women
freq                                                     77
Name: title, dtype: object

In [18]:
data.to_pickle('pickels/180k_apparel_data')

   We save data files at every major step in our processing in "pickle" files. If you are stuck anywhere (or) if some code takes too long to run on your laptop, you may use the pickle files we give you to speed things up.

In [19]:
# consider products which have price information
# data['formatted_price'].isnull() => gives the information 
#about the dataframe row's which have null values price == None|Null
data = data.loc[~data['formatted_price'].isnull()]
print('Number of data points After eliminating price=NULL :', data.shape[0])

Number of data points After eliminating price=NULL : 28395

#### We brought down the number of data points from 183K  to 28K.

We are processing only 28K points so that most of the workshop participants can run this code on thier laptops in a reasonable amount of time. <br> 

For those of you who have powerful computers and some time to spare, you are recommended to use all of the 183K images.

In [21]:
data.to_pickle('pickels/180k_apparel_data')

In [22]:
# You can download all these 28k images using this code below.
# You do NOT need to run this code and hence it is commented.


'''
from PIL import Image
import requests
from io import BytesIO

for index, row in images.iterrows():
        url = row['large_image_url']
        response = requests.get(url)
        img = Image.open(BytesIO(response.content))
        img.save('images/28k_images/'+row['asin']+'.jpeg')


'''

"\nfrom PIL import Image\nimport requests\nfrom io import BytesIO\n\nfor index, row in images.iterrows():\n        url = row['large_image_url']\n        response = requests.get(url)\n        img = Image.open(BytesIO(response.content))\n        img.save('images/28k_images/'+row['asin']+'.jpeg')\n\n\n"

### [5.2] Remove near duplicate items

#### [5.2.1] Understand about duplicates.

In [24]:
# read data from pickle file from previous stage
data = pd.read_pickle('pickels/180k_apparel_data')

# find number of products that have duplicate titles.
print(sum(data.duplicated('title')))
# we have 2325 products which have same title but different color

2326

#### These shirts are exactly same except in size (S, M,L,XL)

<table>
<tr> 
<td><img src="dedupe/B00AQ4GMCK.jpeg",width=100,height=100> :B00AQ4GMCK</td>
<td><img src="dedupe/B00AQ4GMTS.jpeg",width=100,height=100> :B00AQ4GMTS</td>
</tr>
<tr> 
<td><img src="dedupe/B00AQ4GMLQ.jpeg",width=100,height=100> :B00AQ4GMLQ</td>
<td><img src="dedupe/B00AQ4GN3I.jpeg",width=100,height=100> :B00AQ4GN3I</td>
</tr>
</table>

#### These shirts exactly same except  in color

<table>
<tr> 
<td><img src="dedupe/B00G278GZ6.jpeg",width=100,height=100> :B00G278GZ6</td>
<td><img src="dedupe/B00G278W6O.jpeg",width=100,height=100> :B00G278W6O</td>
</tr>
<tr> 
<td><img src="dedupe/B00G278Z2A.jpeg",width=100,height=100> :B00G278Z2A</td>
<td><img src="dedupe/B00G2786X8.jpeg",width=100,height=100> :B00G2786X8</td>
</tr>
</table>

#### In our data there are many duplicate products like the above examples, we need to de-dupe them for better results.

#### [5.2.2] Remove duplicates : Part 1

In [25]:
# read data from pickle file from previous stage
data = pd.read_pickle('pickels/180k_apparel_data')

In [26]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>asin</th>
      <th>brand</th>
      <th>color</th>
      <th>medium_image_url</th>
      <th>product_type_name</th>
      <th>title</th>
      <th>formatted_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>B004GSI2OS</td>
      <td>FeatherLite</td>
      <td>Onyx Black/ Stone</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Featherlite Ladies' Long Sleeve Stain Resistan...</td>
      <td>$26.26</td>
    </tr>
    <tr>
      <th>6</th>
      <td>B012YX2ZPI</td>
      <td>HX-Kingdom Fashion T-shirts</td>
      <td>White</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Women's Unique 100% Cotton T - Special Olympic...</td>
      <td>$9.99</td>
    </tr>
    <tr>
      <th>11</th>
      <td>B001LOUGE4</td>
      <td>Fitness Etc.</td>
      <td>Black</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Ladies Cotton Tank 2x1 Ribbed Tank Top</td>
      <td>$11.99</td>
    </tr>
    <tr>
      <th>15</th>
      <td>B003BSRPB0</td>
      <td>FeatherLite</td>
      <td>White</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>FeatherLite Ladies' Moisture Free Mesh Sport S...</td>
      <td>$20.54</td>
    </tr>
    <tr>
      <th>21</th>
      <td>B014ICEDNA</td>
      <td>FNC7C</td>
      <td>Purple</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Supernatural Chibis Sam Dean And Castiel Short...</td>
      <td>$7.50</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
# Remove All products with very few words in title
data_sorted = data[data['title'].apply(lambda x: len(x.split())>4)]
print("After removal of products with short description:", data_sorted.shape[0])

After removal of products with short description: 27958

In [28]:
# Sort the whole data based on title (alphabetical order of title) 
data_sorted.sort_values('title',inplace=True, ascending=False)
data_sorted.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>asin</th>
      <th>brand</th>
      <th>color</th>
      <th>medium_image_url</th>
      <th>product_type_name</th>
      <th>title</th>
      <th>formatted_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>61973</th>
      <td>B06Y1KZ2WB</td>
      <td>Éclair</td>
      <td>Black/Pink</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>Éclair Women's Printed Thin Strap Blouse Black...</td>
      <td>$24.99</td>
    </tr>
    <tr>
      <th>133820</th>
      <td>B010RV33VE</td>
      <td>xiaoming</td>
      <td>Pink</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>xiaoming Womens Sleeveless Loose Long T-shirts...</td>
      <td>$18.19</td>
    </tr>
    <tr>
      <th>81461</th>
      <td>B01DDSDLNS</td>
      <td>xiaoming</td>
      <td>White</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>xiaoming Women's White Long Sleeve Single Brea...</td>
      <td>$21.58</td>
    </tr>
    <tr>
      <th>75995</th>
      <td>B00X5LYO9Y</td>
      <td>xiaoming</td>
      <td>Red Anchors</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>xiaoming Stripes Tank Patch/Bear Sleeve Anchor...</td>
      <td>$15.91</td>
    </tr>
    <tr>
      <th>151570</th>
      <td>B00WPJG35K</td>
      <td>xiaoming</td>
      <td>White</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>xiaoming Sleeve Sheer Loose Tassel Kimono Woma...</td>
      <td>$14.32</td>
    </tr>
  </tbody>
</table>
</div>

#### Some examples of dupliacte titles that differ only in the last few words.

In [29]:
indices = []
for i,row in data_sorted.iterrows():
    indices.append(i)

In [30]:
import itertools
stage1_dedupe_asins = []
i = 0
j = 0
num_data_points = data_sorted.shape[0]
while i < num_data_points and j < num_data_points:
    
    previous_i = i

    # store the list of words of ith string in a, ex: a = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'X-Large']
    a = data['title'].loc[indices[i]].split()

    # search for the similar products sequentially 
    j = i+1
    while j < num_data_points:

        # store the list of words of jth string in b, ex: b = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'Small']
        b = data['title'].loc[indices[j]].split()

        # store the maximum length of two strings
        length = max(len(a), len(b))

        # count is used to store the number of words that are matched in both strings
        count  = 0

        # itertools.zip_longest(a,b): will map the corresponding words in both strings, it will appened None in case of unequal strings
        # example: a =['a', 'b', 'c', 'd']
        # b = ['a', 'b', 'd']
        # itertools.zip_longest(a,b): will give [('a','a'), ('b','b'), ('c','d'), ('d', None)]
        for k in itertools.zip_longest(a,b): 
            if (k[0] == k[1]):
                count += 1

        # if the number of words in which both strings differ are > 2 , we are considering it as those two apperals are different
        # if the number of words in which both strings differ are < 2 , we are considering it as those two apperals are same, hence we are ignoring them
        if (length - count) > 2: # number of words in which both sensences differ
            # if both strings are differ by more than 2 words we include the 1st string index
            stage1_dedupe_asins.append(data_sorted['asin'].loc[indices[i]])

            # if the comaprision between is between num_data_points, num_data_points-1 strings and they differ in more than 2 words we include both
            if j == num_data_points-1: stage1_dedupe_asins.append(data_sorted['asin'].loc[indices[j]])

            # start searching for similar apperals corresponds 2nd string
            i = j
            break
        else:
            j += 1
    if previous_i == i:
        break

In [31]:
data = data.loc[data['asin'].isin(stage1_dedupe_asins)]

#### We removed  the dupliactes which differ only at the end.

In [32]:
print('Number of data points : ', data.shape[0])

Number of data points :  17597

In [33]:
data.to_pickle('pickels/17k_apperal_data')

#### [5.2.3] Remove duplicates : Part 2

In [34]:
data = pd.read_pickle('pickels/17k_apperal_data')

In [35]:
# This code snippet takes significant amount of time.
# O(n^2) time.
# Takes about an hour to run on a decent computer.

indices = []
for i,row in data.iterrows():
    indices.append(i)

stage2_dedupe_asins = []
while len(indices)!=0:
    i = indices.pop()
    stage2_dedupe_asins.append(data['asin'].loc[i])
    # consider the first apperal's title
    a = data['title'].loc[i].split()
    # store the list of words of ith string in a, ex: a = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'X-Large']
    for j in indices:
        
        b = data['title'].loc[j].split()
        # store the list of words of jth string in b, ex: b = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'X-Large']
        
        length = max(len(a),len(a))
        
        # count is used to store the number of words that are matched in both strings
        count  = 0

        # itertools.zip_longest(a,b): will map the corresponding words in both strings, it will appened None in case of unequal strings
        # example: a =['a', 'b', 'c', 'd']
        # b = ['a', 'b', 'd']
        # itertools.zip_longest(a,b): will give [('a','a'), ('b','b'), ('c','d'), ('d', None)]
        for k in itertools.zip_longest(a,b): 
            if (k[0]==k[1]):
                count += 1

        # if the number of words in which both strings differ are < 3 , we are considering it as those two apperals are same, hence we are ignoring them
        if (length - count) < 3:
            indices.remove(j)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-35-28de7efad93f>", line 16, in <module>
    for j in indices:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\DELL\Anaconda3\lib\inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\DELL\Anaconda3\lib\inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\DELL\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\DELL\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "C:\Users\DELL\Anaconda3\lib\site-packages\pytest.py", line 8, in <module>
    from _pytest.config import cmdline
  File "C:\Users\DELL\Anaconda3\lib\site-packages\_pytest\config\__init__.py", line 25, in <module>
    from .exceptions import PrintHelp
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 724, in exec_module
  File "<frozen importlib._bootstrap_external>", line 818, in get_code
  File "<frozen importlib._bootstrap_external>", line 917, in get_data
KeyboardInterrupt

In [39]:
# from whole previous products we will consider only 
# the products that are found in previous cell 
data = data.loc[data['asin'].isin(stage2_dedupe_asins)]

In [40]:
print('Number of data points after stage two of dedupe: ',data.shape[0])
# from 17k apperals we reduced to 16k apperals

Number of data points after stage two of dedupe:  39

In [41]:
data.to_pickle('pickels/16k_apperal_data')
# Storing these products in a pickle file
# candidates who wants to download these files instead 
# of 180K they can download and use them from the Google Drive folder.

# 6. Text pre-processing

In [42]:
data = pd.read_pickle('pickels/16k_apperal_data')

# NLTK download stop words. [RUN ONLY ONCE]
# goto Terminal (Linux/Mac) or Command-Prompt (Window) 
# In the temrinal, type these commands
# $python3
# $import nltk
# $nltk.download()

In [49]:
# we use the list of stop words that are downloaded from nltk lib.
import nltk
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
print ('list of stop words:', stop_words)

def nlp_preprocessing(total_text, index, column):
    if type(total_text) is not int:
        string = ""
        for words in total_text.split():
            # remove the special chars in review like '"#$@!%^&*()_+-~?>< etc.
            word = ("".join(e for e in words if e.isalnum()))
            # Conver all letters to lower-case
            word = word.lower()
            # stop-word removal
            if not word in stop_words:
                string += word + " "
        data[column][index] = string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...

[nltk_data]   Unzipping corpora\stopwords.zip.

list of stop words: {'re', 'nor', 'through', 'be', 'hadn', 'ourselves', 'few', 'now', 'being', 's', 'once', 'are', "she's", 'd', 'because', 'him', "isn't", 'its', 'each', 'during', 'their', "wasn't", 'against', 'm', "mustn't", 'did', "shouldn't", 'by', 'should', 'wasn', 'i', 'over', 'my', 'again', 'if', 'needn', "should've", 'while', 'himself', 'a', 'not', 'our', 'does', 'until', 'me', 'to', 'all', "don't", 'had', 't', 'why', "weren't", 'itself', 'then', 'theirs', 'shouldn', 'an', 'there', 'myself', 'for', 'or', 'didn', "that'll", "hadn't", 'the', 'were', "aren't", 'o', 'ma', 'shan', "won't", 'his', 'here', 'aren', 'off', 'from', 'she', 'up', 'as', 'between', 'where', 'whom', 'most', 'll', 'isn', 'your', 'couldn', 'any', "needn't", 'further', 'yours', "you've", 'it', 'won', 'will', 'weren', 'with', 'but', 'been', 'doesn', "shan't", 'her', 'how', 'same', "doesn't", "you'll", 'below', 'haven', 'on', 'under', 'having', 'you', 'just', 'they', 'mightn', 'has', 'only', 'of', 'this', 'at', "wouldn't", 'that', 'ain', 'which', 'wouldn', 'can', 'am', 'such', 'both', 'before', 'what', 've', 'no', 'doing', 'don', 'yourselves', 'have', 'in', 'out', 'is', 'yourself', "couldn't", 'who', 'down', 'own', "haven't", 'was', 'he', "you're", "hasn't", 'when', 'after', 'about', 'than', 'hers', "didn't", 'we', 'above', 'other', 'too', 'those', 'very', "it's", 'hasn', 'y', 'ours', 'herself', 'so', 'them', 'into', 'themselves', 'and', 'mustn', 'these', 'some', 'more', "you'd", "mightn't", 'do'}

In [50]:
start_time = time.clock()
# we take each title and we text-preprocess it.
for index, row in data.iterrows():
    nlp_preprocessing(row['title'], index, 'title')
# we print the time it took to preprocess whole titles 
print(time.clock() - start_time, "seconds")

0.3156784000002517 seconds

In [51]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>asin</th>
      <th>brand</th>
      <th>color</th>
      <th>medium_image_url</th>
      <th>product_type_name</th>
      <th>title</th>
      <th>formatted_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>182720</th>
      <td>B01GRY940Y</td>
      <td>WAYF</td>
      <td>Red</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>wayf womens printed splitneck long sleeve blou...</td>
      <td>$9.49</td>
    </tr>
    <tr>
      <th>182725</th>
      <td>B01M0CTZL5</td>
      <td>Vintage America Blues</td>
      <td>White</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>APPAREL</td>
      <td>vintage america womens marissa pintuck embroid...</td>
      <td>$12.39</td>
    </tr>
    <tr>
      <th>182726</th>
      <td>B01M1OC0NX</td>
      <td>Free People</td>
      <td>Black</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>free people peaks island black top large</td>
      <td>$59.99</td>
    </tr>
    <tr>
      <th>182737</th>
      <td>B000T8GQME</td>
      <td>UltraClub</td>
      <td>Brick</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>ultraclub ladies cabana breeze camp shir x lar...</td>
      <td>$29.13</td>
    </tr>
    <tr>
      <th>182738</th>
      <td>B00139HZFU</td>
      <td>FeatherLite</td>
      <td>Nantucket Navy</td>
      <td>https://images-na.ssl-images-amazon.com/images...</td>
      <td>SHIRT</td>
      <td>featherlite ladies long sleeve stain resistant...</td>
      <td>$22.91</td>
    </tr>
  </tbody>
</table>
</div>

In [52]:
data.to_pickle('pickels/16k_apperal_data_preprocessed')

## Stemming

In [53]:
from nltk.stem.porter import *
stemmer = PorterStemmer()
print(stemmer.stem('arguing'))
print(stemmer.stem('fishing'))


# We tried using stemming on our titles and it didnot work very well.

argu
fish